﻿@using MeetRun.Web.Codes.Helpers
@model MeetRun.Web.ViewModels.Account.SignupEnterCodeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>میتران | ورود کد  فعال سازی</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap-rtl.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/fonts/fonts-fa.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/rtl.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="lockscreen">
<div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
        <a href="@Url.Action("Index", "Home")"><b>میت</b>ران</a>
    </div>
    
    <div class="lockscreen-name">@Model.FullName</div>
    <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
            @Html.GravatarImage(Model.Email)
        </div>
        <!-- /.lockscreen-image -->
        
        <!-- lockscreen credentials (contains the form) -->
    @using (Html.BeginForm("Enter", "Account", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data" })) {
        <div class="input-group">
            @Html.HiddenFor(x=> x.UserId)
            @Html.HiddenFor(x=> x.Email)
            @Html.TextBoxFor(x => x.Code, new {id = "Code", @class = "form-control", placeholder = "کد فعال سازی"})
            @Html.ValidationMessageFor(x=> x.Code)
            <div class="input-group-btn">
                <button class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
        </div>
    }

    </div><!-- /.lockscreen-item -->
    <div class="help-block text-center">
        @if (Model.HasError) {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> خطا</h4>
                @Model.ModelMessage
            </div>
        }
        کد فعال سازی 6 رقمی را برای ورود به سیستم وارد کنید.
    </div>
    <div class="text-center">
        یا اگر حساب تان از قبل فعال است. <a href="login.html">از اینجا وارد شوید</a>.
    </div>
    <div class="lockscreen-footer text-center">
        Copyright &copy; 2018 <b><a href="http://meetrun.ir" class="text-black">MeetRun</a></b><br>
        All rights reserved
    </div>
</div><!-- /.center -->
<script src="@Url.Content("~/Content/libs/jquery/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Content/libs/bootstrap/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/libs/jquery/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Content/libs/jquery/jquery.validate.unobtrusive.min.js")"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#Code").focus();
    });
</script>
</body>
</html>
