﻿@model MeetRun.Web.ViewModels.Account.ForgotViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>میتران - فراموشی کلمه عبور</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap-rtl.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/fonts/fonts-fa.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/iCheck/square/blue.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Index", "Home")"><b>میت</b>ران</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
               در صورت فراموشی کلمه عبور، ایمیلی که با آن در سایت ثبت نام کردین را در باکس زیر وارد کنید و دکمه ارسال را بزنید.
            </p>
            @if (Model.HasError) {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> خطا</h4>
                    @Model.ModelMessage
                </div>
            }
            @using (Html.BeginForm("Forgot", "Account", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data" })) {
                <div class="form-group has-feedback">
                    <input type="email" name="Username" id="Username" class="form-control" style="direction: ltr" placeholder="آدرس ایمیل" required />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال</button>
                    </div><!-- /.col -->
                </div>
            }
            <div class="row">
                <div class="form-group-lg">
                    <a href="@Url.Action("Login", "Account")" class="text-center">ورود به پنل کاربری</a>
                </div>
            </div>

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <script src="@Url.Content("~/Content/libs/jquery/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/iCheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/jquery/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/jquery/jquery.validate.unobtrusive.min.js")"></script>
    <script>
    $(document).ready(function () {
        $("#Username").focus();
    });
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    </script>
</body>
</html>
