﻿@model MeetRun.Web.ViewModels.Account.SignupViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <title>میتران - ثبت نام در سیستم</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap-rtl.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/fonts/fonts-fa.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/rtl.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/iCheck/square/blue.css")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="@Url.Action("Index", "Home")"><b>میت</b>ران</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">ثبت نام در میتران</p>
        @using (Html.BeginForm("Signup", "Account", FormMethod.Post, new {id = "myform", enctype = "multipart/form-data" }))
        {
            if(Model.HasError) {
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> خطا</h4>
                    @Model.ModelMessage
                </div>
            }
            <div class="form-group has-feedback">
                @*<input type="email" name="Email" id="Email" class="form-control" style="direction: ltr" placeholder="ایمیل شما">*@
                @Html.TextBoxFor(x=> x.Email, new {  id="Email", @class = "form-control", style = "direction: ltr", placeholder = "ایمیل شما" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(x=> x.Email)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.FirstName, new { id = "FirstName", @class = "form-control", placeholder = Html.DisplayNameFor(x=> x.FirstName)})
                @*<input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.FirstName)">*@
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.LastName, new { id = "LastName", @class = "form-control", placeholder = Html.DisplayNameFor(x=> x.LastName) })
                @*<input type="text" name="LastName" id="LastName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.LastName)">*@
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(x=> x.Password, new { id = "Password", @class = "form-control", style = "direction: ltr", placeholder = Html.DisplayNameFor(x=> x.Password) })
                @*<input type="password" name="Password" id="Password" class="form-control" style="direction: ltr" placeholder="@Html.DisplayNameFor(x => x.Password)">*@
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(x=> x.RetypePassword, new { id = "RetypePassword", @class = "form-control", style = "direction: ltr", placeholder = Html.DisplayNameFor(x=> x.RetypePassword) })
                @*<input type="password" name="RetypePassword" id="RetypePassword" class="form-control" style="direction: ltr" placeholder="@Html.DisplayNameFor(x => x.RetypePassword)">*@
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.RetypePassword)
            </div>
            <div class="form-group has-feedback">
                <div class="checkbox icheck">
                    <label>
                        @Html.CheckBoxFor(x=> x.IsPersonal) @Html.DisplayNameFor(x=> x.IsPersonal)
                    </label>
                </div>
            </div>
            <hr/>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.CompanyName, new { id = "CompanyName", @class = "form-control", placeholder = Html.DisplayNameFor(x=> x.CompanyName) })
                @*<input type="text" name="CompanyName" id="CompanyName" class="form-control" placeholder="@Html.DisplayNameFor(x => x.CompanyName)">*@
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.CompanyName)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.CompanyEnTitle, new { id = "CompanyEnTitle", @class = "form-control", style ="direction: ltr", placeholder = Html.DisplayNameFor(x=> x.CompanyEnTitle) })
                @*<input type="text" name="CompanyEnTitle" id="CompanyEnTitle" class="form-control" placeholder="@Html.DisplayNameFor(x => x.CompanyEnTitle)">*@
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.CompanyEnTitle)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.Slug, new { id = "Slug", @class = "form-control", style = "direction: ltr", placeholder = Html.DisplayNameFor(x=> x.Slug) })
                @*<input type="text" name="Slug" id="Slug" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Slug)">*@
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Slug)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.Mobile, new { id = "Mobile", @class = "form-control", style = "direction: ltr", placeholder = Html.DisplayNameFor(x=> x.Mobile) })
                @*<input type="text" name="Mobile" id="Mobile" class="form-control" style="direction: ltr" placeholder="@Html.DisplayNameFor(x => x.Mobile)">*@
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Mobile)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(x=> x.Website, new { id = "Website", @class = "form-control", style = "direction: ltr", placeholder = Html.DisplayNameFor(x=> x.Website) })
                @*<input type="text" name="Website" id="Webiste" class="form-control" style="direction: ltr" placeholder="@Html.DisplayNameFor(x => x.Website)">*@
                <span class="glyphicon glyphicon-globe form-control-feedback"></span>
                @Html.ValidationMessageFor(x => x.Website)
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> موافقت با <a href="#">قوانین</a> میتران
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">ثبت نام</button>
                </div><!-- /.col -->
            </div>
        }
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using Google+</a>
            </div>
            <a href="@Url.Action("Login", "Account")" class="text-center">قبلاً ثبت نام کردین؟ از اینجا وارد شوید</a>
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
<script src="@Url.Content("~/Content/libs/jquery/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Content/libs/bootstrap/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/libs/iCheck/icheck.min.js")"></script>
<script src="@Url.Content("~/Content/libs/jquery/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Content/libs/jquery/jquery.validate.unobtrusive.min.js")"></script>
<script>
    $(document).ready(function () {
        $("#Email").focus();
    });
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
</body>
</html>
