﻿@model MeetRun.Web.ViewModels.Entities.ProjectViewModel
@{
    ViewBag.Title = "ویرایش پروژه " + Model.Title;
    Layout = "~/Areas/App/Views/Shared/_layout.cshtml";
}
<section class="content-header">
    <h1>
        پروژه ها
        <small>ویرایش اطلاعات پروژه</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> داشبرد</a></li>
        <li><a href="@Url.Action("Index","Projects")"><i class="fa fa-industry"></i> پروژه ها</a></li>
        <li class="active">ویرایش پروژه : @Model.Title</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box">
        @using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new { id = "myform", @class = "form-horizontal", enctype = "multipart/form-data", DefaultButton = "btnSave" })) {
            <div class="box-header with-border">
                <h3 class="box-title">ویرایش اطلاعات</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                @if (Model.HasError) {
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> خطا</h4>
                        لطفاً خطاهای فرم را برطرف کرده و دوباره سعی در ذخیره نمایید.
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.Title, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "عنوان" })
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Code, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", placeholder = "کد پروژه" })
                        @Html.ValidationMessageFor(x => x.Code)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Status, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Status, new SelectList(Model.StatusList.items, "id", "display"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LogoPath, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <input type="file" name="ImageFile" id="UploadImage" onchange="previewFile()" style="width: 420px; margin: 10px 5px 0px 5px; background-color: #fff; " class="form-control" />
                        <img src="@Url.Content("~/Content/back-end/images/default.png")" id="imgUpload" style="height: 60px; vertical-align: top;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", placeholder = "توضیحات" })
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default"><i class="fa fa-close"></i> انصراف</button>
                <button type="submit" class="btn btn-info" name="btnSave" id="btnSave"><i class="fa fa-save"></i> ذخیره</button>
            </div><!-- /.box-footer -->
            <div class="box-footer">
                فوتر
            </div><!-- /.box-footer-->
        }
    </div><!-- /.box -->

</section>

@section FooterSection {
    <script type="text/javascript" language="javascript">
        function previewFile() {
            var preview = document.querySelector('#imgUpload');
            var file = document.querySelector('#UploadImage').files[0];
            var reader = new FileReader();
            reader.onloadend = function () {
                preview.src = reader.result;
            }
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
        $('#myform').submit(function () {
            if ($(this).valid()) {
                $(this).find(':submit').attr('disabled', 'disabled');
            }
        });
        $(document).ready(function () {
            $('#Title').focus();
            $("#myform").keypress(function (e) {
                kCode = e.keyCode || e.charCode //for cross browser
                if (kCode == 13) {
                    var defaultbtn = $(this).attr("DefaultButton");
                    $("#" + defaultbtn).click();
                    return false;
                }
            });
        });
    </script>
    @if (Model.Success) {
        <link href="~/content/libs/bootstrap-toastr/toastr-rtl.min.css" rel="stylesheet" />
        <script src="~/content/libs/bootstrap-toastr/toastr.min.js"></script>
        <script>
            $(document).ready(function () {
                toastr["success"]("اطلاعات مطلب با موفقیت به روز رسانی شد.");
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-left",
                    "preventDuplicates": true,
                    "showDuration": "2000",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
            });
        </script>
    }
}

