﻿@model MeetRun.Web.ViewModels.Base.PagedListViewModel<MeetRun.Web.ViewModels.Entities.ProjectViewModel>
@{
    ViewBag.Title = "پروژه ها";
    Layout = "~/Areas/App/Views/Shared/_layout.cshtml";
}
<section class="content-header">
    <h1>
        پروژه ها
        <small>لیست پروژه ها</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> داشبرد</a></li>
        <li class="active"><i class="fa fa-industry"></i> پروژه ها</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">لیست پروژه ها</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <table id="tblMain" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>عنوان</th>
                        <th>کد پروژه</th>
                        <th>وضعیت</th>
                        <th>تاریخ ثبت</th>
                        <th>آخرین تغییر</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items) {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Code</td>
                            <td>@item.Status</td>
                            <td>@item.InsertDateDisplay</td>
                            <td>@item.ModifyDateDisplay</td>
                        </tr>
                    }
                </tbody>
                @*<tfoot>
                    <tr>
                        <th>Rendering engine</th>
                        <th>Browser</th>
                        <th>Platform(s)</th>
                        <th>Engine version</th>
                        <th>CSS grade</th>
                    </tr>
                </tfoot>*@
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
