﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - میتران</title>
    <meta charset="UTF-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/style.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/skins/_all-skins.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/fonts/fonts-fa.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/libs/bootstrap/css/bootstrap-rtl.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/app/css/rtl.css")">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @RenderSection("HeadSection", false)
</head>
<body class="skin-blue-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>M</b>RUN</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Meet</b>RUN</span>
            </a>
            @Html.Partial("_notifyPan")

        </header>
        @Html.Partial("_sidebar")
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-left hidden-xs">
                <b>Version</b> 2.2.0
            </div>
            <strong>Copyright &copy; 2018 <a href="http://meetrun.ir">MeetRun</a>.</strong> All rights reserved.
        </footer>
        @Html.Partial("_controlSidebar")
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="@Url.Content("~/Content/libs/jquery/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/jquery/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/jquery/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Content/libs/jquery/respond.min.js")"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="@Url.Content("~/Content/libs/bootstrap/js/bootstrap.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="@Url.Content("~/Content/app/js/app.min.js")"></script>

    @RenderSection("FooterSection", false)
</body>
</html>
