﻿
@{
    ViewBag.Title = "داشبرد";
    Layout = "~/Areas/App/Views/Shared/_layout.cshtml";
}

<section class="content-header">
    <h1>
        پیشخوان
        <small>پنل مدیریت</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">پیشخوان</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">عنوان صفحه</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                @*<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>*@
            </div>
        </div>
        <div class="box-body">
            همه چیز اینجا شروع میشه
        </div><!-- /.box-body -->
        <div class="box-footer">
            فوتر
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section>