.sidebar-menu li a .fa-angle-left,
.sidebar-menu li .label, .sidebar-menu li .badge {
	margin-top: -15px !important;
}
.field-validation-error {
    color: red;
}
.input-validation-error {
    border-color: red;
}